numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
tensorflow
keras
pytorch
nltk
gensim
statsmodels
xgboost
lightgbm
catboost
fastai
opencv-python
pillow
requests
beautifulsoup4
networkx
sqlalchemy
dash
flask
django
jupyter
streamlit
opencv-python
pytesseract
scrapy
spacy
nltk
transformers
pytorch-lightning
pydot
mlflow
pyyaml
pyod
plotly
pyspark
pymongo
gym
rodeo
hyperopt
imbalanced-learn
pandas-profiling
plotly